<a href="https://colab.research.google.com/github/jaiarunkumar/Guvi/blob/main/Telephone_Directory_CRUD_Operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Telephone Directory CRUD Operation

import pymongo
#Connecting to the database

data = pymongo.MongoClient("mongodb://neelam:abcdefgh@cluster0-shard-00-00.ly6ll.mongodb.net:27017,cluster0-shard-00-01.ly6ll.mongodb.net:27017,cluster0-shard-00-02.ly6ll.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-z0a0kl-shard-0&authSource=admin&retryWrites=true&w=majority")
#Creating database

db = data ["telephone-directory"]
#Creating collection

db1 = db["directory"]
#Inserting values

db1.insert_one({"name":"varsha","ph_no":123456789,"location":"US","area":"california"})

db1.insert_many([{"name":"varsha_a","ph_no":123789345,"location":"German","area":"whitefield"},{"name":"varsha_b","ph_no":123456123,"location":"UK","area":"whitecoin"}])
#Displaying database names

print(data.list_database_names())

#Displaing collection names

print(db.list_collection_names())
print(db.collection.find())
for i in db1.find():
  print (i)
db.directory.update_one({'ph_no': 123456789}, {'$inc': {'ph_no': 100000009}})
for i in db1.find():
  print (i)
db1.directory.delete_one({'name':'varsha'})